*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper{
  max-width: 800px;
  margin: auto;
}
/* header */
header{
  background-color: #fdbb40;
  padding: 40px 20px 30px 20px;
  position: relative;
}
.logo{
  position: absolute;
  top: 0;
  right: 0;
  height: 200px;
}
/* main */
.burger-name-block{
  margin-top: 30px;
}
#burger-name{
  width: 40%;
  border: none;
  padding: 10px 0;
  font-size: 18px;
}
#burger-name:focus{
  outline: none;
}
.ingredients{
  margin-top: 30px;
}
.ingredients-list{
  list-style: none;
}
.discount{
  margin-top: 30px;
}
.calculate-button{
  text-align: center;
  margin-top: 30px;
}
/* footer */
footer{
  background-color: #d33359;
  margin-top: 30px;
  padding: 20px 30px 30px 30px;
  font-weight: bold;
  font-size: 25px;
  display: flex;
  justify-content: space-between;
}
